<h2 class="mt-3">Comments</h2>
<input 
  #newComment  
  id="comment" 
  name="comment"
  class="form-control mt-3" 
  type="text" 
  (keyup.enter)="add(newComment.value)"
  (blur)="add(newComment.value); newComment.value='' "
  placeholder="add comment" 
  aria-label="comment" 
  aria-describedby="comments"
  mimlength="4"
  required
  ngModel>
<button class="btn btn-warning"  type="button" (click)="add(newComment.value); newComment.value=''">Add Comment</button>
<button class="btn btn-info"  type="button" (click)="goBack()">Go Back</button>
<ul>
  <li *ngFor="let comment of comments">
    <a routerLink="/detail/{{comment.id}}">
      <span class="badge">{{comment.id}}</span> {{comment.content}}
    </a>
    <button class="btn btn-danger" title="delete comment"
      (click)="delete(comment)">x</button>
  </li>
</ul>
<div *ngIf="comment" class="single_comment">
<div><span>User: </span>{{comment.user}}</div>
<div><span>Date: </span>{{comment.date}}</div>
<div><span>Content: </span>{{comment.content}}</div>
</div>

